body {
  background-color: #0be71db9;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 8px solid #6dd6ff;
  background-color: #5a48ff;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 20px;
}

.input {
  background-color: #6dfaff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.input input {
  border: none;
  outline: none;
  background: transparent;
}

.users {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.users .user:nth-child(2) {
  background-color: #58deff;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
